In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel("rawdata.xlsx")
data.head()

        date      time  sensor location  number activity position location.1
0 2024-01-16  10:10:30     0.0       A1       1   placed   inside         A1
1 2024-01-16  10:12:30     1.0       A2       1   picked   inside         A2
2 2024-01-16  10:28:30     1.0       A3       1   picked   Inside         A3
3 2024-01-16  10:38:20     0.0       A4       1   placed   Inside         A4
4 2024-01-16  10:45:20     1.0       A5       1   placed   inside         A5

In [3]:
data.describe()

           sensor      number
count  174.000000  175.000000
mean     0.511494    1.165714
std      0.501310    0.372891
min      0.000000    1.000000
25%      0.000000    1.000000
50%      1.000000    1.000000
75%      1.000000    1.000000
max      1.000000    2.000000

In [4]:
data.dtypes

date          datetime64[ns]
time                  object
sensor               float64
location              object
number                 int64
activity              object
position              object
location.1            object
dtype: object

In [5]:
data_16 = data[data['date'] == '2024-01-16']
data_16[data_16['activity'] == 'placed'].head()

        date      time  sensor location  number activity position location.1
0 2024-01-16  10:10:30     0.0       A1       1   placed   inside         A1
3 2024-01-16  10:38:20     0.0       A4       1   placed   Inside         A4
4 2024-01-16  10:45:20     1.0       A5       1   placed   inside         A5
7 2024-01-16  11:16:20     1.0       A8       1   placed   inside         A8
8 2024-01-16  11:23:20     1.0       A9       1   placed   inside         A9

In [6]:
data_16['number'].sum()

80

In [7]:
data_17 = data[data['date'] == '2024-01-17']
data_17[data_17['activity'] == 'placed'].head()

         date      time  sensor location  number activity position location.1
80 2024-01-17  10:10:30     0.0      A26       1   placed   inside        A26
83 2024-01-17  10:38:20     0.0       A2       1   placed   inside         A2
85 2024-01-17  10:52:20     0.0       A2       1   placed   inside         A2
88 2024-01-17  12:20:20     0.0       A5       1   placed   inside         A5
89 2024-01-17  10:42:20     0.0       A6       2   placed   inside         A6

In [8]:
data_17['number'].sum()

27

In [9]:
data_18 = data[data['date'] == '2024-01-18']
data_18[data_18['activity'] == 'placed'].head()

          date      time  sensor location  number activity position location.1
100 2024-01-18  10:52:20     0.0      A17       1   placed   inside        A17
102 2024-01-18  11:18:00     1.0      A19       1   placed   Inside        A19
104 2024-01-18  11:38:00     0.0      A21       1   placed   inside        A21
106 2024-01-18  11:50:20     1.0      A23       1   placed   inside        A23
107 2024-01-18  12:05:22     0.0      A24       1   placed   inside        A24

In [10]:
data_18['number'].sum()

97

In [11]:
data_16 = data[data['date'] == '2024-01-16']
data_16[data_16['activity'] == 'picked'].head()
data_16['number'].sum()

80

In [12]:
data_17 = data[data['date'] == '2024-01-17']
data_17[data_17['activity'] == 'picked'].head()
data_17['number'].sum()

27

In [13]:
dates = ['2024-01-16', '2024-01-17', '2024-01-18']
placed = []

for date in dates:
    df = data[data['date'] == date]
    df = df[df['activity'] == 'placed']
    placed.append(df['number'].sum())

placed

[40, 13, 50]

In [15]:
dates = ['2024-01-16', '2024-01-17', '2024-01-18']
picked = []

for date in dates:
    df = data[data['date'] == date]
    df = df[df['activity'] == 'picked']
    picked.append(df['number'].sum())

picked

[40, 14, 47]