In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn import neighbors

In [4]:
data = pd.read_excel("../sheets/train.xlsx")
data.head()

,T1,T2,T3,T4,T5,T6,T7,T8,T9,T10,T11,T12,T13,T14,T15,T16,T17,T18,target
0,-70,-61,-66,-53,-51,-63,-82,-57,-76,-78,-66,-66,-61,-59,-73,-75,-63,-77,B37
1,-77,-74,-71,-76,-65,-63,-66,-52,-55,-75,-72,-75,-74,-61,-64,-63,-53,-63,B61
2,-53,-38,-55,-66,-62,-62,-65,-70,-62,-52,-56,-53,-66,-68,-72,-60,-68,-77,A19
3,-72,-62,-59,-65,-65,-65,-78,-82,-83,-59,-84,-60,-64,-83,-69,-72,-95,-73,A22
4,-67,-69,-65,-63,-59,-53,-70,-72,-71,-60,-61,-57,-54,-76,-61,-66,-71,-80,A33

In [5]:
data.describe()

,T1,T2,T3,T4,T5,T6,T7,T8,T9,T10,T11,T12,T13,T14,T15,T16,T17,T18
count,36752.000000,36752.000000,36752.000000,36752.000000,36752.000000,36752.000000,36752.000000,36752.000000,36752.000000,36752.000000,36752.000000,36752.000000,36752.000000,36752.000000,36752.000000,36752.000000,36752.000000,36752.000000
mean,-65.865449,-64.521931,-64.574472,-65.296474,-64.462152,-63.318731,-67.030202,-66.591260,-65.692479,-65.555181,-65.681922,-66.244204,-63.962614,-64.399080,-64.550011,-64.136782,-65.910726,-66.590417
std,8.737286,8.914559,8.154517,8.142803,8.068375,8.651501,9.257529,10.160193,10.598247,10.408147,9.453958,8.866239,8.254217,9.562839,9.207343,10.540542,10.071973,10.600992
min,-95.000000,-95.000000,-95.000000,-95.000000,-95.000000,-95.000000,-95.000000,-95.000000,-95.000000,-95.000000,-95.000000,-95.000000,-95.000000,-95.000000,-95.000000,-95.000000,-95.000000,-95.000000
25%,-72.000000,-70.000000,-70.000000,-70.000000,-69.000000,-69.000000,-74.000000,-75.000000,-73.000000,-73.000000,-71.000000,-72.000000,-69.000000,-70.000000,-70.000000,-71.000000,-72.000000,-74.000000
50%,-66.000000,-65.000000,-64.000000,-66.000000,-65.000000,-63.000000,-66.000000,-66.000000,-65.000000,-65.000000,-65.000000,-66.000000,-63.000000,-64.000000,-65.000000,-63.000000,-65.000000,-66.000000
75%,-61.000000,-59.000000,-59.000000,-61.000000,-59.000000,-57.000000,-60.000000,-59.000000,-58.000000,-58.000000,-59.000000,-61.000000,-58.000000,-58.000000,-58.000000,-57.000000,-59.000000,-59.000000
max,-41.000000,-37.000000,-41.000000,-39.000000,-36.000000,-39.000000,-45.000000,-39.000000,-39.000000,-37.000000,-40.000000,-43.000000,-43.000000,-39.000000,-38.000000,-40.000000,-43.000000,-39.000000

In [6]:
data.isnull().sum()

T1        0
T2        0
T3        0
T4        0
T5        0
T6        0
T7        0
T8        0
T9        0
T10       0
T11       0
T12       0
T13       0
T14       0
T15       0
T16       0
T17       0
T18       0
target    0
dtype: int64

In [7]:
X = data.drop('target', axis=1)
y = data['target']

y.shape

(36752,)

In [8]:
logisticRegressionModel = LogisticRegression()
logisticRegressionModel.fit(X, y)
logisticRegressionModel.score(X, y)

/usr/lib/python3/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9651175446234218

In [9]:
svmModel = SVC(gamma='auto', kernel ='rbf')
svmModel.fit(X, y)
svmModel.score(X, y)

0.9975783630822812

In [13]:
nbModel = GaussianNB()
nbModel.fit(X, y)
nbModel.score(X, y)

0.9611721811057902

In [10]:
treeModel = DecisionTreeClassifier()
treeModel.fit(X, y)
treeModel.score(X, y)

0.9994286025250326

In [11]:
KNNModel = neighbors.KNeighborsClassifier()
KNNModel.fit(X, y)
KNNModel.score(X, y)

0.9904767087505442

In [17]:
import pickle
pickle.dump(svmModel, open("svmModel.pkl", "wb"))
pickle.dump(treeModel, open("treeModel.pkl", "wb"))
pickle.dump(KNNModel, open("KNNModel.pkl", "wb"))

In [15]:
test = pd.read_excel("../sheets/test.xlsx")
svmModelRes = svmModel.predict(test)
svmModelRes

array(['B74', 'A25', 'B65', ..., 'B69', 'A38', 'A25'], dtype=object)

In [19]:
df = pd.DataFrame(svmModelRes.reshape(-1,1))
df.to_excel("../sheets/svmModelRes.xlsx")

In [20]:
treeModelRes = treeModel.predict(test)
df = pd.DataFrame(treeModelRes.reshape(-1,1))
df.to_excel("../sheets/treeModelRes.xlsx")

In [21]:
KNNModelRes = KNNModel.predict(test)
df = pd.DataFrame(KNNModelRes.reshape(-1,1))
df.to_excel("../sheets/KNNModelRes.xlsx")